p {color:red}
header {background-color: #fac926;}
.burger-menu {
    background-color: #1259c3;
    width : 20px;
    color: white;
    border-radius: 10%;
    text-align: center;
    padding: 8px;
}

.compra { align: center}

.navbar{ text-decoration: none;}
